<html>
<head>
<title>Rank-O-Matic</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://raw.githack.com/barathykolappan/Rank-O-Matic/master/static/style.css">
<link rel="stylesheet" href="https://raw.githack.com/barathykolappan/Rank-O-Matic/master/static/back.css">
</head>
<body>
<br><br><br><br>
<center><img src="https://raw.githack.com/barathykolappan/Rank-O-Matic/master/static/icon.png" height=15%></center>
<form>
<div class="Search">
<center><font color="white" style="font-family:'Product Sans'; font-size:20; opacity:0.2; position:absolute; top:10px; left:50px;">Rank-O-Matic says Oops!</font></center>
<div style="font-family:'Product Sans'; margin:0 auto; color:white; opacity:0.7; font-size:25; position:absolute; top:80px; left:5px; text-align:center;" class="unamed">Did you mean the one in {{cname}} ?</div>

<div class="search_fields__submit"style="font-family:'Product Sans'; position:absolute; top:180px; right:30px;">
<center><input type="submit" value="Yes. That's it." onclick="window.open('http://127.0.0.1:5000/{{uname}}')"></center>
</div>
<div class="search_fields__submit" style="font-family:'Product Sans'; position:absolute; top:230px; right:30px;">
<center><input type="submit" value="Not Really :/ " onclick="window.open('http://127.0.0.1:5000/','_self')"></center>
</div>
</div>
</form>
</body>
</html>